@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    overflow-x: hidden;
    font-family: "Poppins";
    background-color: #F1F5F8;
}

select{    
    border: 0px;
    background-color: #fff;
    
    cursor: pointer;
    width: 100%;    
}

.no-data-found{
    height: 450px;
    padding-top: 220px;
}